
	body {
		background-color : navy;
		}
	
	
	h1 {
		color : whitesmoke;	
		}
		
	h3 {
		background-color : red;
		}
		
	p {
		color : white;
		}
		
	ul {
		background-color : blue;
		}
	
	ol {
		color : yellow;
		}
	